body{
    background-image: url(https://www.fractalcamo.com/uploads/5/9/0/2/5902948/s189772745713394276_p3862_i149_w750.jpeg);
}

.IMG{
    border-radius: 1%;
    width : 20vw;
    height : 20vh;
}

.inscri{
    background-image: url(https://t.novaskin.me/26b0b10294cac99ea7e9108be6671958dfd82939771ac819c9b59f6be6d26b61);
    height: 1000px;
}


fieldset {
    border: 0;
}


ul li a{
    color: black;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.3em;
}
ul li{
    list-style-type: none;
    background-image: url(https://www.fractalcamo.com/uploads/5/9/0/2/5902948/s189772745713394276_p3862_i149_w750.jpeg);
    padding: 20px;
    margin: 20px;
    border-radius: 20%;
}

header ul{
    margin: none;
}

h1{
    background-color: rgba(163, 57, 25, 0.863);
    margin-top: none;
}

h2{
    text-align: center;
}

.blocM{
    border: solid black 5px;
    padding: 20px;
    
}

.IMGF{
    width: 35px;
    padding: 10px;
}

.voirMod{
    color: #de0b0b;
    font-weight: 900;
    text-decoration: none;
    border: 10px rgb(167, 152, 152) solid;
    background-color: rgb(167, 152, 152);
    border-radius: 20%;
    box-shadow: 10px 5px 5px black;
}

footer{
    border-top: solid 1px black;
    margin-top: 50px;
    padding: none;
    background-color: black;
}

footer p{
    color: white;
    text-align: center;
}
.mod{
    border: 5px solid #292b49;
    padding: 20px;
    margin: 15px;
}

